<div class="olz-field-content section {{ color }}">
    {% if title %}
        <h1>{{ title|raw }}</h1>

        {% if action %}
            <a href="{{ action.href }}" class="{{ action.class }}" target="{{ action.target }}">{{ action.label|raw }}</a>
        {% endif %}

        {% if quote %}
            <small><code>{{ quote|raw }}</code></small>
        {% endif %}
    {% endif %}

    {% if contents %}
        {% for c in contents %}
            <div class="olz-section{% if loop.index is odd %} odd{% endif %} olz-clear">
                <div class="svg"><object width="380">{{ c.svg|raw }}</object></div>
                <div class="text">{{ c.text|raw }}</div>
            </div>
        {% endfor %}
    {% endif %}
</div>
