{% set twigtpl = template and template == 'terms' ? 'terms' : 'pages' %}

{% extends "_" ~ twigtpl ~ ".html.twig" %}

{% block id %}{{ id }}{% endblock %}
{% block label %}<label for="{{ id }}_code">{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div class="tea-to-field-content code">
        <div class="CodeMirror-all">
            {% if change %}
                <select name="{{ id }}[mode]" class="change-mode no-selectize">
                    {% for k, m in modes %}
                        <option value="{{ k }}"{{ k == val.mode ? ' selected="selected"' : '' }}>{{ m }}</option>
                    {% endfor %}
                </select>
            {% else %}
                <input type="hidden" name="{{ id }}[mode]" value="{{ val.mode }}" class="change-mode"/>
            {% endif %}

            <textarea name="{{ id }}[code]" id="{{ id }}_code" rows="{{ rows }}"{{ readonly ? ' readonly' : '' }} class="code">{{ val.code }}</textarea>
        </div>

        {% if description %}<p class="tea-to-description">{{ description|raw }}</p>{% endif %}
    </div>
{% endblock %}
