{% set twigtpl = template and template == 'terms' ? 'terms' : 'pages' %}

{% extends "_" ~ twigtpl ~ ".html.twig" %}

{% block id %}{{ id }}_maps{% endblock %}
{% block label %}<label>{{ title|raw }}</label>{% endblock %}

{% set items = {
    1: {
        'id': 'maps-' ~ id ~ '-globals',
        'name': t_item_globals,
        'contents': block('globals')
    },
    2: {
        'id': 'maps-' ~ id ~ '-configs',
        'name': t_item_configs,
        'contents': block('configs')
    },
    3: {
        'id': 'maps-' ~ id ~ '-customs',
        'name': t_item_customs,
        'contents': block('customs')
    }
} %}

{% block field %}
    <div class="olz-field-content maps" data-id="{{ id }}">
        <fieldset>
            <!-- Map -->
            <div id="olz-leaflet-{{ id }}" class="olz-maps" style="width:100%; height:320px;"></div>

            {#<!-- Marker -->
            <div class="map-marker">
                <h3><label for="{{ id }}-marker">{{ t_marker|raw }}</label></h3>
                <div class="olz-field-content upload" data-type="image">
                    <div class="upload_image_result">
                        {% if val.marker %}
                            <figure>
                                <input type="hidden" name="{{ id }}[marker]" id="{{ id }}-marker-id" value="{{ val.marker.id }}" />
                                <input type="hidden" name="{{ id }}[marker]" id="{{ id }}-marker-url" value="{{ val.marker.url }}" />
                                <input type="hidden" name="{{ id }}[marker]" id="{{ id }}-marker-name" value="{{ val.marker.name }}" />

                                <img src="{{ val.marker.url }}" alt="" />
                                <a href="#deleteImage" class="delete-image" data-target="{{ id }}-marker">&times;</i></a>
                            </figure>
                        {% endif %}

                        {% if can_upload %}
                            <div class="upload-time hide-if-no-js {{ val.marker ? 'item-added' : '' }}" data-target="{{ id }}[marker]">
                                <a href="#addImage" class="add-image" title="{{ t_marker_add }}">
                                    <i class="fa fa-map-marker fa-lg"></i> {{ t_marker_add|raw }}
                                </a>
                            </div>
                        {% else %}
                            {{ t_marker_cannot_upload|raw }}
                        {% endif %}
                    </div>
                </div>
            </div>
            #}
        </fieldset>

        <div class="hide-if-no-js">
            <a href="#getMapsConfiguration" class="button get-maps" title="{{ t_item_configs }}">
                <i class="fa fa-cog fa-lg"></i> {{ t_item_configs|raw }}
            </a>
        </div>

        {% if description %}<p class="olz-description">{{ description|raw }}</p>{% endif %}
    </div>
{% endblock %}

{% block footer %}
    <div id="m-maps-{{ id }}" class="olz-modal maps-modal" tabindex="-1" style="display:none;">
        <header>
            <a href="#close" class="close">&times;</a>
            <h2>{{ t_item_customs|raw }}</h2>
        </header>

        {% include '_frames.html.twig' with {
            'items': items
        } only %}

        <footer>
            <a href="#updateMaps" class="button button-primary olz-reload">{{ t_update|raw }}</a>
        </footer>
    </div>
{% endblock %}

{% block globals %}
    <!-- Address -->
    <h3><label for="{{ id }}-address">{{ t_address|raw }}</label></h3>

    <div class="olz-field-content text">
        <input type="text" name="{{ id }}[address]" id="{{ id }}-address" value="{{ val.address }}" size="30" />
        <p>{{ t_address_description|raw }}</p>
    </div>

    <!-- Width -->
    <h3><label for="{{ id }}-width">{{ t_width|raw }}</label></h3>

    <div class="olz-field-content text number">
        <input type="number" name="{{ id }}[width]" id="{{ id }}-width" value="{{ val.width }}" size="30" step="1" />
        <p>{{ t_width_description|raw }}</p>
    </div>

    <!-- Height -->
    <h3><label for="{{ id }}-height">{{ t_height|raw }}</label></h3>

    <div class="olz-field-content text number">
        <input type="number" name="{{ id }}[height]" id="{{ id }}-height" value="{{ val.height }}" size="30" step="1" />
        <p>{{ t_height_description|raw }}</p>
    </div>

    <!-- Zoom -->
    <h3><label for="{{ id }}-zoom">{{ t_zoom|raw }}</label></h3>

    <div class="olz-field-content number">
        <input type="number" name="{{ id }}[zoom]" id="{{ id }}-zoom" value="{{ val.zoom }}" size="30" min="0" max="21" step="1" />
        <p>{{ t_zoom_description|raw }}</p>
    </div>
{% endblock %}

{% block configs %}
    <!-- Type -->
    <h3><label for="{{ id }}-type">{{ t_type|raw }}</label></h3>

    <div class="olz-field-content select">
        <select name="{{ id }}[type]" id="{{ id }}-type" class="no-selectize">
            {% for k, option in types %}
                {% set selected = k == val.type ? true : false %}
                <option value="{{ k == '-1' ? '' : k }}"{{ selected ? ' selected="selected" ' : '' }}>{{ option|raw }}</option>
            {% endfor %}
        </select>

        <p>{{ t_type_description|raw }}</p>
    </div>

    <hr class="olz-clear"/>

    <!-- Options -->
    <div class="olz-field">
        <h3>
            <label>{{ t_options|raw }}</label>
            {% include '_check_all.html.twig' with {
                'id': id,
                'count': options|length,
                'label': t_options_select,
                'val': val
            } %}
        </h3>

        <div id="{{ id }}-options" class="olz-field-content checkbox">
            <fieldset>
                {% for k, option in options %}
                    {% set selected = val.options[k] and val.options[k] == 'yes' ? true : false %}
                    {% set for = id ~ '-options-' ~ k %}

                    <p class="item">
                        <label for="{{ for }}"{{ selected ? ' class="selected"' : '' }}>
                            <input type="hidden" name="{{ id }}[options][{{ k }}]" value="" />
                            <input type="checkbox" name="{{ id }}[options][{{ k }}]" id="{{ for }}" value="yes"{{ selected ? ' checked="checked"' : '' }} />
                            {{ option|raw }}
                        </label>
                    </p>
                {% endfor %}
            </fieldset>

            <p>{{ t_options_description|raw }}</p>
        </div>
    </div>
{% endblock %}

{% block customs %}
    <!-- JSON -->
    <h3>
        <label for="{{ id }}-enable">
            {{ t_json|raw }}

            <select name="{{ id }}[enable]" id="{{ id }}-enable" class="no-selectize">
                <option value="yes"{{ val.enable == 'yes' ? ' selected="selected" ' : '' }}>{{ t_json_yes|raw }}</option>
                <option value="no"{{ val.enable == 'no' ? ' selected="selected" ' : '' }}>{{ t_json_no|raw }}</option>
            </select>
        </label>
    </h3>

    <div class="olz-field-content textarea">
        <textarea name="{{ id }}[json]" id="{{ id }}-json" rows="16" class="textarea" placeholder="[{'featureType':'administrative', 'stylers':[{'visibility':'off'}] }]">{{ val.json }}</textarea>
        <p>{{ t_json_description|raw }}</p>
    </div>
{% endblock %}
