{% set twigtpl = template and template == 'terms' ? 'terms' : 'pages' %}

{% extends "_" ~ twigtpl ~ ".html.twig" %}

{% block id %}{{ id }}_rte{% endblock %}
{% block label %}
    <label for="{{ id }}">
        {{ title|raw }}
        {% if description %}<small>{{ description|raw }}</small>{% endif %}
    </label>
{% endblock %}

{% block field %}
    <div class="olz-field-content rte">
        {{ wpEditor(val, id, settings) }}
    </div>
{% endblock %}
