{% extends "_pages.html.twig" %}

{% block id %}{{ id }}_search_{{ mode }}{% endblock %}
{% block label %}{% endblock %}

{% set countposttypes = posttypes|length %}
{% set countterms = terms|length %}

{% block field %}
    {% set blocks = ['toggle', 'configurations', 'index'] %}

    {% if mode in blocks %}
        {{ block(mode) }}
    {% endif %}
{% endblock %}

{% block toggle %}
    {% set class = val.toggle ? ' active' : '' %}

    {{ configs.notify }}

    <form action="{{ formAction|raw }}" method="post" class="tea-to-field-content search toggle{{ class }}">
        <input type="hidden" name="action" value="tea-to-action" />
        <input type="hidden" name="for" value="search" />
        <input type="hidden" name="make" value="toggle" />

        <!-- Toggle -->
        {{ t_disable|raw }}

        <fieldset class="{{ val.toggle ? 'is-on' : 'is-off' }}">
            <label for="{{ id }}-toggle-on" class="on">
                <input type="radio" name="{{ id }}[toggle]" id="{{ id }}-toggle-on" value="1"{{ val.toggle ? ' checked="checked"' : '' }} />
                <i class="fa fa-circle-o"></i>
            </label>

            <label for="{{ id }}-toggle-off" class="off">
                <input type="radio" name="{{ id }}[toggle]" id="{{ id }}-toggle-off" value="0"{{ val.toggle ? '' : ' checked="checked"' }} />
                <i class="fa fa-minus fa-rotate-90"></i>
            </label>
        </fieldset>

        {{ t_enable|raw }}
    </form>

    {% if count > -1 %}
        <div class="error below-h2 tea-to-updated headsup">
            {% if count == 0 %}
                <p>{{ t_es_notify_0|raw }}</p>
            {% elseif count == 1 %}
                <p>{{ t_es_notify_1|raw }}</p>
            {% else %}
                <p>{{ t_es_notify_s|raw }}</p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block configurations %}
    {% if val.toggle and val.status == 200 and (countposttypes > 0 or countterms > 0) %}
        <form action="{{ formAction|raw }}" method="post" class="tea-to-field-content search index">
            <input type="hidden" name="action" value="tea-to-action" />
            <input type="hidden" name="for" value="search" />
            <input type="hidden" name="make" value="index" />
            <button type="submit" class="button button-primary">{{ t_es_index|raw }}</button>

            <p>{{ t_last_step|raw }}</p>
        </form>
    {% endif %}

    {% if val.toggle and val.status != 200 and val.status != 404 %}
        <div class="error below-h2 tea-to-error">
            <p>{{ t_no_connection|raw }}</p>
        </div>
    {% endif %}

    <form action="{{ formAction|raw }}" method="post" class="tea-to-field-content search">
        <input type="hidden" name="action" value="tea-to-action" />
        <input type="hidden" name="for" value="search" />
        <input type="hidden" name="make" value="update" />

        <!-- Server URL -->
        <h3><label for="{{ id }}-server-host">{{ t_es_server_url|raw }}</label></h3>
        <div class="tea-to-field-content text">
            http://<input type="text" name="{{ id }}[server_host]" id="{{ id }}-server-host" value="{{ val.server_host }}" placeholder="{{ default.server_host }}" style="width:140px" />:<input type="text" name="{{ id }}[server_port]" value="{{ val.server_port }}" maxlength="4" placeholder="{{ default.server_port }}" style="width:70px" />/

            <p>{{ t_es_server_url_description|raw }}</p>
        </div>

        <!-- Index name -->
        <h3><label for="{{ id }}-index-name">{{ t_es_index_name|raw }}</label></h3>
        <div class="tea-to-field-content text">
            <input type="text" name="{{ id }}[index_name]" id="{{ id }}-index-name" value="{{ val.index_name }}" />

            <p>{{ t_es_index_name_description|raw }}</p>
        </div>

        <!-- Read timeout -->
        <h3><label for="{{ id }}-read">{{ t_es_read_timeout|raw }}</label></h3>
        <div class="tea-to-field-content text number">
            <input type="number" name="{{ id }}[read_timeout]" id="{{ id }}-read" value="{{ val.read_timeout }}" size="30" min="1" max="30" step="1" />

            <p>{{ t_es_read_timeout_description|raw }}</p>
        </div>

        <!-- Write timeout -->
        <h3><label for="{{ id }}-write">{{ t_es_write_timeout|raw }}</label></h3>
        <div class="tea-to-field-content text number">
            <input type="number" name="{{ id }}[write_timeout]" id="{{ id }}-write" value="{{ val.write_timeout }}" size="30" min="1" max="30" step="1" />

            <p>{{ t_es_write_timeout_description|raw }}</p>
        </div>

        <button type="submit" class="button button-primary">{{ t_es_update|raw }}</button>
    </form>
{% endblock %}

{% block index %}
    {% if configs.status != 200 %}
        {{ block('index_ko') }}
    {% else %}
        {{ block('index_ok') }}
    {% endif %}
{% endblock %}

{% block index_ko %}
    {% if val.toggle and val.status != 200 and val.status == 404 %}
        <div class="error below-h2 tea-to-info">
            <p>{{ t_no_index|raw }}</p>
        </div>

        <form action="{{ formAction|raw }}" method="post" class="tea-to-field-content search create">
            <input type="hidden" name="action" value="tea-to-action" />
            <input type="hidden" name="for" value="search" />
            <input type="hidden" name="make" value="create" />
            <button type="submit" class="button button-primary">{{ t_create_index|raw }}</button>
        </form>
    {% else %}
        <div class="error below-h2 tea-to-info">
            <p>{{ t_no_connection|raw }}</p>
        </div>
    {% endif %}
{% endblock %}

{% block index_ok %}
    <form action="{{ formAction|raw }}" method="post" class="tea-to-field-content search">
        <input type="hidden" name="action" value="tea-to-action" />
        <input type="hidden" name="for" value="search" />
        <input type="hidden" name="make" value="update" />
        <input type="hidden" name="{{ id }}[server_host]" value="{{ val.server_host }}" />
        <input type="hidden" name="{{ id }}[server_port]" value="{{ val.server_port }}" />
        <input type="hidden" name="{{ id }}[index_name]" value="{{ val.index_name }}" />

        <!-- Template -->
        <h3>
            <label for="{{ id }}-template">
                {{ t_es_template|raw }}
                <small>{{ t_es_template_example|raw }}</small>
            </label>
        </h3>
        <div class="tea-to-field-content select">
            {% set usedTemplate = val.template and val.template == 'yes' ? 'yes' : 'no' %}

            <select name="{{ id }}[template]" id="{{ id }}-template">
                <option value="no"{{ usedTemplate == 'no' ? ' selected="selected" ' : '' }}>{{ t_es_template_tto|raw }}</option>
                <option value="yes"{{ usedTemplate == 'yes' ? ' selected="selected" ' : '' }}>{{ t_es_template_theme|raw }}</option>
            </select>
        </div>

        <!-- Indexing -->
        <h3><label>{{ t_es_indexing|raw }}</label></h3>
        <p class="tea-to-description">
            {% if index.0 > 0 %}
                <b><i class="fa fa-angle-right fa-lg"></i> {{ t_es_gorgeous|raw }}</b>
            {% endif %}
        </p>

        <!-- Indexing post types -->
        <div class="tea-to-field">
            <h3>
                {{ t_es_posttypes|raw }}

                {% include '_check_all.html.twig' with {
                    'count': countposttypes,
                    'id': id ~ '-index-posttypes',
                    'label': t_es_check_all,
                    'val': val.index_posttypes
                } only %}
            </h3>
            <div id="{{ id }}-index-posttypes" class="tea-to-field-content checkbox">
                <fieldset>
                    {% for item in posttypes %}
                        {% set sel = val.index_posttypes[item.key] ? ' checked="checked"' : '' %}
                        {% set for = id ~ '-indexposttypes-' ~ item.key %}

                        <p class="item">
                            <label for="{{ for }}"{{ sel ? ' class="selected"' : '' }}>
                                <input type="checkbox" name="{{ id }}[index_posttypes][{{ item.key }}]" id="{{ for }}" value="{{ item.key }}"{{ sel|raw }} />
                                {{ item.post.labels.name|raw }} <code>{{ item.post.name|raw }}</code>
                            </label>
                        </p>
                    {% endfor %}
                </fieldset>
            </div>
        </div>

        <!-- Indexing terms -->
        <div class="tea-to-field">
            <h3>
                {{ t_es_terms|raw }}

                {% include '_check_all.html.twig' with {
                    'count': countterms,
                    'id': id ~ '-index-terms',
                    'label': t_es_check_all,
                    'val': val.index_terms
                } only %}
            </h3>
            <div id="{{ id }}-index-terms" class="tea-to-field-content checkbox">
                <fieldset>
                    {% for item in terms %}
                        {% set sel = val.index_terms[item.key] ? ' checked="checked"' : '' %}
                        {% set for = id ~ '-indexterms-' ~ item.key %}

                        <p class="item">
                            <label for="{{ for }}"{{ sel ? ' class="selected"' : '' }}>
                                <input type="checkbox" name="{{ id }}[index_terms][{{ item.key }}]" id="{{ for }}" value="{{ item.key }}"{{ sel|raw }} />
                                {{ item.term.labels.name|raw }} <code>{{ item.term.name|raw }}</code>
                            </label>
                        </p>
                    {% endfor %}
                </fieldset>
            </div>
        </div>

        <br class="tea-to-clear"/>

        <button type="submit" class="button button-primary">{{ t_es_update|raw }}</button>
    </form>
{% endblock %}
