{% set twigtpl = template and template == 'terms' ? 'terms' : 'pages' %}

{% extends "_" ~ twigtpl ~ ".html.twig" %}

{% block id %}{{ id }}_select{% endblock %}
{% block label %}<label for="{{ id }}">{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div class="tea-to-field-content select">
        {% if options %}
            <select name="{{ id }}" id="{{ id }}">
                {% for key, option in options if key %}
                    {% set selected = key == val ? true : false %}
                    <option value="{{ key == '-1' ? '' : key }}"{{ selected ? ' selected="selected"' : '' }}>{{ option }}</option>
                {% endfor %}
            </select>
        {% else %}
            {{ t_no_options }}
        {% endif %}

        <p class="tea-to-description">{{ description|raw }}</p>
    </div>
{% endblock %}
